*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}
form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    /* border-radius: 15; */
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

/* Input themes */
form input.standard-input {
    background-color: #181a1a;
    color: rgb(247, 226, 223);
}


form input.light-input {
    background-color: #AEB1B4;
    color: #1a150e;
}

form input.light-input::placeholder {
    color: #1a150e;
    opacity: 0.7;
}
form input:hover {
    cursor: text;
}
form input.light-input:hover {
    background-color: #919699;
}
button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

/* Button themes */
button.light-button {
    background-color: white;
    color: #1a150e;
}

button.light-button:hover {
    background-color: #f0f0f0;
}
/*form snyggs till här*/
form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}
/* style till input här */
form input.standard-input {
    background-color: #181a1a;
    color: rgb(247, 226, 223);
}


form input:hover {
    cursor: text;
}
button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color:#181a1a;
    color:white;
}

/* style till sparKnappen här */

form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}
/* här nere finns kodar till toDoList boxen*/
#todoList{
    display:grid;
    background-color:#bdbbbe;
    border-radius:20px;
    overflow:hidden;
    padding: 30px;

}
.todoItem{
    background-color:blue;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width:100%;
}